<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.1/phpunit.xsd"
         verbose="true">

    <testsuite name="Mage_Todo">
        <directory suffix="Test.php">Test/Unit</directory>
    </testsuite>
</phpunit>
