<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mage\Todo\Api\TaskManagementInterface" type="Mage\Todo\Service\TaskManagement"/>
    <preference for="Mage\Todo\Api\TaskRepositoryInterface" type="Mage\Todo\Service\TaskRepository"/>
    <preference for="Mage\Todo\Api\Data\TaskInterface" type="Mage\Todo\Model\Task"/>

    <preference for="Mage\Todo\Api\Data\TaskSearchResultInterface" type="Mage\Todo\Model\ResourceModel\Task\Collection"/>
</config>
